.header-wrapper{
    background-color: var(--light-gray);
}

.header-content {
    padding: 18px;
    color: var(--violet);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-list{
    font-weight: 600;
}