.banner-top{
    position: relative;
    .content{
        background-image: url("/assets/desktop.jpg");
        height: 600px;
        
        .name-card{
            background-color: #fafafa;
            position: absolute;
            bottom: 0;
            font-family: "Playfair Display", sans-serif;
            font-weight: 600;
            font-size: 3rem;
            width: 300px;
            padding: 32px 8px;
            text-align: start;
            border-radius: 0 16px 0 0 ;
        }
    }
}